.infoWrap {
  background-color: var(--surface-color);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.infoItem {
  margin-bottom: 45px;
}

.infoItem i {
  font-size: 20px;
  color: var(--accent-color);
  background-color: color-mix(in srgb, var(--accent-color), transparent 92%);
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
  margin-right: 15px;
}

.infoItem h3 {
  padding: 0;
  font-size: 18px;
  font-weight: 700px;
  margin-bottom: 5px;
}

label {
  display: inline-block;
}

.infoItem p {
  padding: 0;
  margin-bottom: 0;
  font-size: 14px;
}

.infoItem:hover i {
  background-color: var(--accent-color);
  color: var(--contrast-color);
}

.emailForm {
  background-color: var(--surface-color);
  height: 100%;
  padding: 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

@media (max-width: 575px) {
  .infoWrap,
  .emailForm {
    padding: 20px;
  }
}

.emailForm input[type="text"],
.emailForm input[type="email"],
.emailForm input textarea {
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: none;
  border-radius: 0;
  color: var(--default-color);
  background-color: var(--surface-color);
  border-color: color-mix(in srgb, var(--default-color), transparent 80%);
}

.emailForm input[type="text"]:focus,
.emailForm input[type="email"]:focus,
.emailForm input textarea:focus {
  border-color: var(--accent-color);
}

.emailForm input[type="text"]::placeholder,
.emailForm input[type="email"]::placeholder,
.emailForm input textarea::placeholder {
  color: color-mix(in srgb, var(--default-color), transparent 70%);
}

.emailForm button[type="submit"] {
  color: var(--contrast-color);
  background: var(--accent-color);
  border: 0;
  padding: 10px 30px;
  transition: 0.4s;
  border-radius: 50px;
}

.emailForm button[type="submit"]:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 25%);
}
